<div class="header">
  <div class="top-bar">
      <div class="container">
          
      </div>
      <!-- /.container -->
  </div>
 <div class="main_menu_wrapper hidden-xs hidden-sm">
      <nav class="navbar mega-menu navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="container">
              <div class="navbar-header hidden-xs hidden-sm">
                  <a class="navbar-brand" ><img src="assets/images/logo.png" width="60%" alt=""></a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div [hidden]="!loggin" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li [hidden]="!loggin" class="active dropdown">
                          <a routerLink="/inicio" class="dropdown-toggle"  aria-expanded="false">
                           Inicio
                        </a>

                      </li>
                      
                    <li class="active dropdown">
                        <a [hidden]="!loggin" routerLink="/buscar-registro" class="dropdown-toggle"  aria-expanded="false">
                            Ver registro
                        </a>

                    </li>
                    <li class="active dropdown">
                        <a routerLink="/envio-encuesta" class="dropdown-toggle"  aria-expanded="false">
                            Envío encuesta
                        </a>

                    </li>

                    <li class="active dropdown">
                        <a routerLink="/encuesta" class="dropdown-toggle"  aria-expanded="false">
                            Encuesta
                        </a>

                    </li>
                    
                    <!-- <li [hidden]="loggin" class="active dropdown">
                        <a href="https://www.kforum2020.com/backend/obtener_datos_Kforum.php" class="dropdown-toggle"  aria-expanded="false">
                            Descargar EXCEL
                        </a>

                    </li> -->
                      
                      <!-- Cart Option -->
                      <!-- /.Cart Option -->
                  </ul>

              </div>
              <!-- /.navbar-collapse -->
          </div>
      </nav>
  </div>
  <!-- .site-nav -->
  <div class="mobail_menu_main visible-xs visible-sm">
      <div class="navbar-header">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                      <a class="navbar-brand"><img src="assets/images/logo.png"width=50  alt=""></a>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                      <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
              </div>
          </div>
      </div>
      <div id="sidebar">
          <a class="sidebar_logo" ><img src="assets/images/logo.png"width=20 alt=""></a>
          <div id="toggle_close">&times;</div>
          <div id='cssmenu'>
              <ul>
                  <li ><a routerLink="/inicio">Home</a>

                  </li>
                  <li ><a routerLink="/buscar-registro">Ver registro</a></li>
                  <li ><a href="https://www.kforum2020.com/backend/obtener_datos_Kforum.php">Descargar excel</a></li>

              </ul>
          </div>
      </div>
  </div>
</div>
