<div id="main-wrapper">
    <!-- formOne section start -->
    
    <!-- formOne section end -->
    
    <!-- formtwo section start -->
    
    <div  class="formOne ptb-100">
      <div style="margin-bottom: 50px; text-align: center;">
        <h1 style=" font-size: 40px" > CoRe Ciudades Vivibles y Amables 2019</h1>
      </div>
        <div class="container">
            <div class="row">
                    <div class="">
                            
                        
                        <div class="col-md-12">
                    <!--end of formtwo-contact-social -->
                    <google-chart #chart
                    [title]="title"
                    [type]="type"
                    [data]="dataGraph"
                    [columnNames]="columnNames"
                    [options]="options"
                    [width]="width"
                    [height]="height">
                 </google-chart>
                    
                </div>
                <!--end of formtwo-contact-->
                <!-- <div class="col-md-6">
                    <google-chart 
                    [title]="titleGraph2"
                    [type]="typeGraph2"
                    [data]="dataGraph2"
                    [columnNames]="columnNamesGraph2"
                    [options]="optionsGraph2"
                    [width]="widthGraph2"
                    [height]="heightGraph2">
                 </google-chart>
                       
                </div> -->
            </div>
        </div>
    </div>
    </div>
    
    
    </div>
